form
    .form-horizontal
         .control-group
            label.control-label(for="userId")Gallery Id
            .controls
                input#userId(type="text", placeholder="112560626781695473926")