form.form-horizontal
   .control-group
      label.control-label(for="userId") User Id
          .icon-question-sign(data-placement="bottom", data-title="The ID of the user in Picasa. To discover the ID of a user, open any photo and check the url. The first number in the url is the ID of the user")
      .controls
          input#userId(type="text", placeholder="User Id", value="#{userId}")
   .control-group
      .controls
          a#submit.btn() Submit

