form.form-horizontal
   .control-group
      label.control-label(for="userId") User Id
      .controls
          input#userId(type="text", placeholder="User Id", value="#{userId}")
   .control-group
      .controls
          a#submit.btn() Submit