form.form-horizontal
   .control-group
      label.control-label(for="userId") Album Id
      .controls
          input#userId(type="text", placeholder="User Id")
   .control-group
      .controls
          a#submit.btn() Submit